name: Terraform

on:
  workflow_call:

    inputs:
      AZURE_DEFAULT_LOCATION:
        required: true
        type: string

      AZURE_SUBSCRIPTION_NAME:
        required: true
        type: string

      AZURE_MANAGED_IDENTITY_NAME:
        required: true
        type: string

      AZURE_BACKEND_STATE_FILE:
        required: true
        type: string

      AZURE_RESOURCE_GROUP_NAME:
        type: string
        required: true

      AZURE_BACKEND_STORAGE_ACCOUNT_NAME:
        required: true
        type: string

      AZURE_BACKEND_CONTAINER_NAME:
        required: true
        type: string

      GITHUB_RUNNER_POOL:
        required: false
        default: rdam
        type: string

      OPTION_RUN_IMPORT:
        required: false
        default: true
        type: boolean

    secrets:
      AZURE_CLIENT_ID:
        required: true

      AZURE_CLIENT_SECRET:
        required: true

      AZURE_TENANT_ID:
        required: true

      AZURE_SUBSCRIPTION_ID:
        required: true

jobs:
  subscription-provisioner:
    name: Provision Subscription Using Service Principal
    runs-on: ${{ inputs.GITHUB_RUNNER_POOL }}
    environment: production
    env:
      TF_VAR_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      TF_VAR_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      TF_VAR_resource_group_name: ${{ inputs.AZURE_RESOURCE_GROUP_NAME }}
      TF_VAR_storage_account_name: ${{ inputs.AZURE_BACKEND_STORAGE_ACCOUNT_NAME }}
      TF_VAR_storage_container_name: ${{ inputs.AZURE_BACKEND_CONTAINER_NAME }}
      TF_VAR_location: ${{ inputs.AZURE_DEFAULT_LOCATION }}
      TF_VAR_subscription_name: ${{ inputs.AZURE_SUBSCRIPTION_NAME }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: |
            {
              "clientId": "${{ secrets.AZURE_CLIENT_ID }}",
              "clientSecret": "${{ secrets.AZURE_CLIENT_SECRET }}",
              "subscriptionId": "${{ secrets.AZURE_SUBSCRIPTION_ID }}",
              "tenantId": "${{ secrets.AZURE_TENANT_ID }}"
            }

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: | 
          terraform init \
            -backend-config="subscription_id=${{ secrets.AZURE_SUBSCRIPTION_ID }}" \
            -backend-config="resource_group_name=${{ inputs.AZURE_RESOURCE_GROUP_NAME }}" \
            -backend-config="storage_account_name=${{ inputs.AZURE_BACKEND_STORAGE_ACCOUNT_NAME }}" \
            -backend-config="container_name=${{ inputs.AZURE_BACKEND_CONTAINER_NAME }}" \
            -backend-config="key=${{ inputs.AZURE_BACKEND_STATE_FILE }}" \
            -backend-config="use_azuread_auth=true"

      - name: Terraform Format
        run: terraform fmt -check

