name: Terraform

on:
  workflow_call:

    inputs:
      AZURE_BACKEND_STATE_FILE:
        required: true
        type: string
      AZURE_BACKEND_STORAGE_ACCOUNT_NAME:
        required: true
        type: string
      AZURE_BACKEND_CONTAINER_NAME:
        required: true
        type: string
      GITHUB_RUNNER_POOL:
        required: false
        default: rdam
        type: string
  
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_CLIENT_SECRET:
        required: true  


jobs:
  setup-terraform:
    name: Setup Terraform
    runs-on: ${{ inputs.GITHUB_RUNNER_POOL }}
    environment: production
    env:
      TF_VAR_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      TF_VAR_client_id: ${{ secrets.AZURE_CLIENT_ID }}
      TF_VAR_storage_account_name: ${{ inputs.AZURE_BACKEND_STORAGE_ACCOUNT_NAME }}
      TF_VAR_storage_container_name: ${{ inputs.AZURE_BACKEND_CONTAINER_NAME }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          enable-AzPSSession: false

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: | 
          terraform init \
            -backend-config="storage_account_name=${{ inputs.AZURE_BACKEND_STORAGE_ACCOUNT_NAME }}" \
            -backend-config="container_name=${{ inputs.AZURE_BACKEND_CONTAINER_NAME }}" \
            -backend-config="key=${{ inputs.AZURE_BACKEND_STATE_FILE }}" \
            -backend-config="use_azuread_auth=true"

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Plan
        if: github.event_name == 'pull_request' || github.event_name == 'push'
        id: tf-plan
        run: |
          terraform plan -input=false | tee plan_output.log

      - name: Terraform Plan & Prevent Destroy (Scheduled Runs Only)
        if: github.event_name == 'schedule'
        run: |          
          terraform plan -out=tfplan.binary
          terraform show -json tfplan.binary > tfplan.json
          if jq -e '.resource_changes[] | select(.change.actions[] == "delete" or .change.actions[] == "destroy")' tfplan.json > /dev/null; then
            echo "Destroy operation detected."
            exit 1
          else
            echo "No destroy operations detected."
            exit 0
          fi

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'schedule')
        run: |
          terraform apply -auto-approve -input=false
